.container-scroll {
    max-width: 1200px;
    overflow-x: auto;
    white-space: nowrap;
}


table {
    border-collapse: collapse;
    width: 1200px;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    max-width: 500px;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 8px;
}