header {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    color: var(--color-text);
    box-sizing: border-box;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    background: var(--color-background);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

header>div {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}


header>ul {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    align-items: center;
}

header>ul li {
    white-space: nowrap;
    flex-shrink: 0;
}

header>ul li:not(:last-child) {
    margin-right: 20px;
}



.nav-link.active {
    color: var(--color-blue);
    font-weight: bold;
    border-bottom: 2px solid var(--color-blue);
}


.header__account {
    display: flex;
    align-items: center;
}

.header__user {
    display: flex;
    margin-right: 20px;
    align-items: center;
    background: var(--color-page);
    padding: 12px 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 1px solid #e9ecef;
    gap: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.header__user>div {
    text-align: left;
}

.header__user>div>b {
    font-size: 16px;
}

.header__user>div>p {
    font-size: 14px;
}


@media screen and (max-width:1140px) {
    header {
        padding: 20px;
        flex-direction: column;
    }

    header>ul {
        margin-top: 10px;
    }

    header>ul li:not(:last-child) {
        margin-right: 10px;
    }


    header>ul>li {
        margin-left: 5px;
    }
}


@media screen and (max-width:600px) {
    header>ul {
        overflow-x: auto;
        padding-bottom: 10px;
        position: relative;
    }

    header>div {
        flex-direction: column;
        align-items: center;
    }

    header>ul li:not(:last-child) {
        margin-right: 10px;
    }

    .header__account {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .header__user {
        margin-right: 0;
    }

}

@media screen and (max-width:425px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .header__user {
        flex-direction: column;
        align-items: center;
    }

}