.create {
    max-width: 750px;
    border-radius: 10px;
    padding-top: 30px;
    margin: auto;
}

.create__headline {
    background-color: var(--color-create);
    color: var(--color-background);
    font-weight: 400;
    padding: 30px;
    box-sizing: border-box;
}

.create__headline>h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;

}


.create__headline>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.create__form {
    padding: 30px;
    background-color: var(--color-background);
    margin-bottom: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.create__form>.create__block:not(:last-child) {
    margin-bottom: 10px;
}

.create__block {
    display: flex;
    flex-direction: column;
}

.create__block>input {
    margin-top: 5px;
    width: 100%;
}

.create__block>textarea {
    height: 122px;
    width: 100%;
}

.file-upload {
    box-sizing: border-box;
    border: 1px solid var(--color-input);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.file-upload>img {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.file-upload>div {
    margin: 10px auto 10px auto;
}

.create__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.create__btns>button {
    width: 240px;
    height: 40px;
}

@media screen and (max-width:768px) {
    .create__form {
        padding: 20px;
    }
}

@media screen and (max-width:425px) {
    .create__btns>button {
        width: 135px;
    }
}